<!DOCTYPE html>
  <head>
    {{> head__meta title="Serralheria Rodrigues - Preços de portas, janelas, portões automáticos no menor preço na cidade de Sorocaba e região." url="http://serralheriarodrigues.com/" description="Serralheria em Sorocaba, Preços de portas, janelas, portões automáticos no menor preço na cidade de Sorocaba e região." keywords="serralheria sorocaba, portas, portões, janelas, soluções industriais, dispositivo industrial, calderaria"}}

    <title>Serralheria Rodrigues - Portas, janelas, portões automáticos no menor preço na cidade de Sorocaba e região</title>

    {{> head__styles}}
    
  </head>

  <body class="parallax">
    
    {{> pageloader}}

    {{> mol__parallax--navigation}}

    {{> mol__parallax--home}}

    {{> mol__parallax--about}}

    {{> mol__parallax--portfolio}}    

    {{> mol__parallax--contact}} 

    {{> mol__parallax--map}} 

    {{> footer}}

    <!--build:js js/main.js -->
    {{> footer_scripts}}
    <!-- endbuild -->

  </body>
</html>
