<!DOCTYPE html>
<html>
<head>
	<title></title>

	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>

<div class="container">


<table width="520" cellspacing="0" cellpadding="0" border="0" class="table table-bordered">
    <thead>
        <tr>
            <td class="divisoria-horizontal divisoria" width="160" valign="middle">
            <strong>Tipo de Pessoa</strong>
            </td>
            <td class="divisoria-horizontal" width="360" valign="middle">
            <strong>Física* ou Jurídica</strong>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="divisoria-horizontal divisoria" valign="top"><strong>
            <p>Vigência</p>
            </strong></td>
            <td class="divisoria-horizontal" valign="top">Anual, bienal, trienal, plurianual</td>
        </tr>
        <tr>
            <td class="divisoria-horizontal divisoria" valign="top"><strong>
            <p>Âmbito geográfico</p>
            </strong></td>
            <td class="divisoria-horizontal" valign="top">Brasil e MERCOSUL</td>
        </tr>
        <tr>
            <td class="divisoria-horizontal divisoria" valign="top"><strong>
            <p>Categoria tarifária</p>
            </strong></td>
            <td class="divisoria-horizontal cinza" valign="top">10, 11, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 30, 31, 40, 41, 42, 43, 50, 51, 52, 53</td>
        </tr>
        <tr>
            <td class="divisoria-horizontal divisoria" valign="top"><strong>
            <p>Idade máxima do veículo</p>
            </strong></td>
            <td class="divisoria-horizontal" valign="top">De acordo com as regras do subproduto</td>
        </tr>
        <tr>
            <td class="divisoria-horizontal divisoria" valign="top"><strong>
            <p>Valor segurado casco</p>
            </strong></td>
            <td class="divisoria-horizontal cinza" valign="top">Até R$ 500.000,00</td>
        </tr>
        <tr>
            <td class="divisoria-horizontal divisoria" valign="top"><strong>
            <p>Modalidade de contratação</p>
            </strong></td>
            <td class="divisoria-horizontal" valign="top">Valor de Mercado Referenciado, Valor determinado e RCF-V</td>
        </tr>
        <tr>
            <td rowspan="3" class="divisoria-horizontal divisoria" valign="top"><strong>
            <p>Franquia</p>
            </strong></td>
            <td class="divisoria-horizontal cinza" valign="top">Normal</td>
        </tr>
        <tr>
            <td class="divisoria-horizontal" valign="top">Reduzida 50%</td>
        </tr>
        <tr>
            <td class="divisoria-horizontal cinza" valign="top">Majorada 100%</td>
        </tr>
        <tr>
            <td rowspan="4" class="divisoria divisoria-horizontal" valign="top"><strong>
            <p>Coberturas básicas</p>
            </strong></td>
            <td class="divisoria-horizontal" valign="top">Casco, colisão, incêndio, roubo e furto</td>
        </tr>
        <tr>
            <td class="divisoria-horizontal cinza" valign="top">Roubo, furto e incêndio</td>
        </tr>
        <tr>
            <td class="divisoria-horizontal" valign="top">Colisão e incêndio</td>
        </tr>
        <tr>
            <td class="divisoria-horizontal cinza" valign="top">RCF-V Danos Materiais,Danos Corporais e Danos Morais/estéticos</td>
        </tr>
        <tr>
            <td rowspan="15" class="divisoria divisoria-horizontal" valign="top"><strong>
            <p>Coberturas adicionais (facultativas)</p>
            </strong></td>
            <td class="divisoria-horizontal cinza" valign="top">APO (Morte,Invalidez e DMH)</td>
        </tr>
        <tr>
            <td class="divisoria-horizontal" valign="top">Acessórios referentes a som e imagem</td>
        </tr>
        <tr>
            <td class="divisoria-horizontal cinza" valign="top">Carrocerias (70% do valor segurado casco, limitado a R$ 100.000,00)</td>
        </tr>
        <tr>
            <td class="divisoria-horizontal" valign="top">Caminhão basculando</td>
        </tr>
        <tr>
            <td class="divisoria-horizontal cinza" valign="top">Carro reserva (7,10, 15 ou 30 dias) sem ar condicionado<br />
            Carro reserva Gold (15 ou 30 dias)</td>
        </tr>
        <tr>
            <td class="divisoria-horizontal" valign="top">Danos aos vidros básica** - Danos aos vidros Top Plus*** - Danos aos
            Vidros Blindados</td>
        </tr>
        <tr>
            <td class="divisoria-horizontal cinza" valign="top">Despesas extras (10% do valor segurado casco, limitado a R$
            5.000,00)</td>
        </tr>
        <tr>
            <td class="divisoria-horizontal" valign="top">Decessos</td>
        </tr>
        <tr>
            <td class="divisoria-horizontal cinza" valign="top">Equipamentos (70% do valor segurado casco, limitado a R$ 50.000,00)</td>
        </tr>
        <tr>
            <td class="divisoria-horizontal" valign="top">Extensão da cobertura para veículos rebocados</td>
        </tr>
        <tr>
            <td class="divisoria-horizontal cinza" valign="top">Extensão da garantia de reposição pelo valor de novo para veículo 0
            Km por 180 dias – incêndio, roubo ou furto</td>
        </tr>
        <tr>
            <td class="divisoria-horizontal" valign="top">Extensão da garantia de reposição pelo valor de novo para veículo 0
            Km por 12 meses – colisão</td>
        </tr>
        <tr>
            <td class="divisoria-horizontal cinza" valign="top">Extensão de reboque: 300 km - 400 Km - 600 km – 1.000 Km - ilimitada</td>
        </tr>
        <tr>
            <td class="divisoria-horizontal" valign="top">Indenização por imobilização do veículo segurado</td>
        </tr>
        <tr>
            <td class="divisoria-horizontal cinza" valign="top">Kit gás</td>
        </tr>
        <tr>
            <td class="divisoria divisoria-horizontal" valign="top"><strong>
            <p>Cobertura Gratuita</p>
            </strong></td>
            <td class="divisoria-horizontal" valign="top">Garantia de reposição pelo valor de novo para veículo 0 km - 90 dias
            incêndio, roubo, furto e 180 dias colisão</td>
        </tr>
        <tr>
        	<td rowspan="5"><p><strong>Assistências gratuitas</strong></p></td>
        
            <td class="divisoria-horizontal cinza" valign="top">Assistência AutoMais 250 km</td>
        </tr>
        <tr>
            <td class="divisoria-horizontal" valign="top">Assistência AutoMais Caminhão</td>
        </tr>
        <tr>
            <td class="divisoria-horizontal cinza" valign="top">Assistência AutoMais Gold – 400 km </td>
        </tr>
        <tr>
            <td class="divisoria-horizontal" valign="top">Assistência Duas Rodas Special</td>
        </tr>
        <tr>
            <td class="divisoria-horizontal cinza" valign="top">Assistência básica (exclusiva para Vans e seguro apenas de RCF-V)</td>
        </tr>
    </tbody>
</table>

</div>

</body>
</html>