<!-- Navigation - select your nav color - dark-nav or white-nav -->
<nav id="navigation" class="white-nav">
	<!-- Navigation -->
	<div class="navigation first-nav double-nav raleway">
		<!-- Navigation Inner -->
		<div class="nav-inner clearfix">

			<!-- Logo Area -->
			<div class="logo f-left">
				<!-- Logo Link -->
				<a href="#home" class="logo-link scroll">
					<!-- Logo Image / data-second-logo for only white nav -->
					<img src="images/logo/logo_condensed_white.png" data-second-logo="images/logo/logo_condensed_dark.png" alt="crexis_logo" />
				</a>
			</div>
			<!-- End Logo Area -->

			<!-- Mobile Menu Button -->
			<a class="mobile-nav-button"><i class="fa fa-bars"></i></a>

			<!-- Navigation Links -->
			<div class="nav-menu clearfix f-right">
				<!-- Nav List -->
				<ul class="nav uppercase normal oswald big-texts">

					<li><a href="#home" class="scroll">Home</a></li>
					<li><a href="#about" class="scroll">About</a></li>
					<li><a href="#team" class="scroll">Team</a></li>
					<li><a href="#portfolio" class="scroll">Works</a></li>
					<li><a href="#timeline" class="scroll">History</a></li>
					<li><a href="#categories" class="scroll">Categories</a></li>
					<li><a href="#skills" class="scroll">Skills</a></li>
					<li><a href="#pricing-tables" class="scroll">Prices</a></li>
					<li class="dropdown-toggle nav-toggle"><a href="elements-boxes.html" class="ex-link">Elements</a>
						<!-- DropDown Menu -->
						<ul class="dropdown-menu pull-left clearfix">
							<li><a href="elements-boxes.html" class="ex-link">Boxes</a></li>
							<li><a href="elements-buttons.html" class="ex-link">Buttons</a></li>
							<li><a href="elements-components.html" class="ex-link">Components</a></li>
							<li><a href="elements-icons.html" class="ex-link">Icons</a></li>
							<li><a href="elements-typography.html" class="ex-link">Typography</a></li>
						</ul>
						<!-- End DropDown Menu -->
					</li>
					<li><a href="#contact" class="scroll">Contact</a></li>

				</ul>
				<!-- End Nav List -->
			</div>
			<!-- End Navigation Links -->
		</div>
		<!-- End Navigation Inner -->
	</div>
</nav>
<!-- End Nav -->